.remove-btn {
  margin-right: .5rem;
}

.fade-exit {
  opacity: 0.01;
  transition: opacity 1s ease-in;
}

.fade-enter {
  opacity: .1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}