#main_section_content{
	min-height: 1024px;
	height:auto;
	background: url("http://getwallpapers.com/wallpaper/full/c/1/8/360869.jpg")  repeat;
	width: 100vw;
	position: relative;
	flex: auto;
	padding-bottom: .5em;
	padding-top: .5em;
}