#main_section_content .list-group{
	width: inherit;
	margin-top:2%;
	margin-bottom:5%;
}

#main_section_content .list-group li{
	border-radius: 0px;
	background: #fff;
}

#main_section_content .list-group li.active{
	background: #2e44d0;
}

.block{
	text-align: center;
	max-width: 254px;
	height: auto;
	max-height: 200px;
	margin-bottom: 5%;
	margin-top: 5%;
}

.block a img{
	max-width: 100%;
	max-height: 100%;
	height: auto;
	width: auto;
	border: 1px solid rgba(0,0,0,.125);
	moz-object-fit:cover;
}

.block a.adv{
	font-size: 10px;
	float: left;
}

.second-list{
	word-wrap: break-word;	
}

.second-list li.second.active{
	background: #5159d0 !important;
}